*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	display: flex;
	width: 100%;
	/*height: 30%;*/
	font-size: 30px;
	border: 1px solid black;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;

}
header h1{
	text-align: center;
}
body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.toplogo{
	width: 100px;
	height: 100px;
	margin-left: 35%;

}

.instructions {
	border: 1px solid black;
	padding: 2.5% 15%;
	width: 100%;
	height: 30%;
	/*flex: 1;*/
}
.affirmative {
	border: 1px solid black;
	width: 35%;
	padding: 5em 5% 0 2.5%;
}
.affirmative ol li:not(:first-child){
	margin-top: 10%;
}
.options{

	border: 5px solid black;
	width: 65%;
	/*height: 70%;*/
}
form{
	display: flex;
	/*flex-wrap: wrap;*/
	/*justify-content: flex-start;*/
	/*align-items: flex-start;*/
}
.column-s-disagree{
	display: flex;
	flex-direction: column;
	width: 15%;
	border: 1px solid black;
	align-items: center;
	align-self: flex-start;
}
.column-disagree{
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	width: 15%;
	border: 1px solid black;
	align-items: center;
	align-self: flex-start;
}
.column-neutral{
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	width: 15%;
	border: 1px solid black;
	align-items: center;
	align-self: flex-start;
}
.column-agree{
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	width: 15%;
	border: 1px solid black;
	align-items: center;
	align-self: flex-start;
}
.column-s-agree{
	display: flex;
	flex-direction: column;
	width: 15%;
	border: 1px solid black;
	align-items: center;
	align-self: flex-start;
}
form div input{
	margin-top: 33.1%;
}
